@font-face {
  font-family: 'roboto';
  /* src: url('./fonts/Vodafone-Rg-Regular.ttf') format('truetype'); */
  font-weight: normal;
}

@font-face {
  font-family: 'roboto';
  /* src: url('./fonts/Vodafone-Bold.ttf') format('truetype'); */
  font-weight: bold;
}

body {
  font-family: roboto;
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  /* src:
    local('BoldVf'),
    url('./fonts/Vodafone-Bold.ttf') format('truetype'); */
  font-weight: bold;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
